@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force light mode defaults for inputs */
input, textarea, select {
  color: #000000 !important;
  background-color: #ffffff !important;
}

body {
  background-color: #f9fafb; /* gray-50 */
  color: #111827; /* gray-900 */
}